<!-- <script>
    $(document).ready(function() {
        $("input[name$='btnradio']").click(function() {
            $("div.trans").hide();
            $("div.member").show();
        });
    });
</script> -->
<script type="text/javascript">
    function show(){
        document.getElementById('member').style.display = 'none';
        document.getElementById('trans').style.display = 'block';
    }
    function show2(){
        document.getElementById('member').style.display = 'block';
        document.getElementById('trans').style.display = 'none';
    }
</script>
<div class="container">
    <h2 class="my-5 text-center">Account Details</h2>
    <div class="text-center">
        <div class="btn-group" role="group" id="button-toggle" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" onchange="show()" autocomplete="off" checked>
            <label class="btn fw-light btn-outline-dark" for="btnradio1">Transaction Details</label>
          
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" onchange="show2()" autocomplete="off">
            <label class="btn fw-light btn-outline-dark" for="btnradio2">Member Details</label>
          </div>
    </div>
    <div id="trans">
    <% if (result.balance > 0) { %>
        <h3 class="my-3" style="color: green;">Balance : <%= result.balance %></h3>
    <% } else { %>
        <h3 class="my-3" style="color: red;">Balance : <%= result.balance %></h3>
    <% } %>
<table class="table table-bordered border-dark">
    <thead class="thred-dark fw-bolder">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Type</th>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
            <th colspan="2" class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        <% if(result.transactions.length > 0) { result.transactions.forEach(function(data) { %> 
        <tr> 
            <td>
                <%= new Date(data.createdAt).toLocaleString() %> 
            </td>
            <td>
                <%= data.type %>
            </td>
            <td>
                <%= data.description %>
            </td>
            <td>
                <%= data.amount %>
            </td>
            <td>
                <a href="/home/transaction/update/<%= data.id %>" class="link-info"><i class="far fa-edit">Edit</i></a>                                 
            </td>
             <td>
                <a href="/home/transaction/delete/<%= data.id %>" class="link-danger"><i class="fas fa-trash ">Delete</i></a>
             </td>  
        </tr>
        <% }) %>
        <% } else { %>
            <tr>
                <td class="text-center text-danger" colspan="6">Oops... There isn't any Transactios in this account.
                    <br />Please create a Transaction first by clicking add transaction button. <br /><br/>
                </td>
            </tr>
        <% } %> 

</tbody>
</table>
<a href="/home/transaction/create/<%= result.id %>">
<button type="button" class="btn btn-primary mb-3">Create Transaction</button>
</a>
</div>
<div id="member" style="display: none;">
    <table class="table">
        <thead class="thred-dark">
            <tr>
                <th colspan="2">Member-Name</th>
            </tr>
        </thead>
        <tbody>
            <% if (result.owners.length > 0) { result.owners.forEach(function(data) { %>
            <tr> 
                <td>
                     <%= data.firstname + " " + data.lastname %> 
                </td>
                 <td>
                    <a href="/home/deleteaccount/<%= data.id %>" class="link-danger"><i class="fas fa-trash ps-4">Delete</i></a>
                 </td>   
            </tr>
            <% }) %>
            <% } else { %>
                <tr>
                    <td class="text-center text-danger" colspan="2">Oops... There isn't any account for this user.
                        <br />Please create an account first by filling the form located above table<br /><br/>
                    </td>
                </tr>
            <% } %>
    
    </tbody>
    </table>
</div> 
</div>