<!-- <script>
    $(document).ready(function() {
        $("input[name$='btnradio']").click(function() {
            $("div.trans").hide();
            $("div.member").show();
        });
    });
</script> -->
<script type="text/javascript">
    function show(){
        document.getElementById('member').style.display = 'none';
        document.getElementById('trans').style.display = 'block';
    }
    function show2(){
        document.getElementById('member').style.display = 'block';
        document.getElementById('trans').style.display = 'none';
    }
</script>
<div class="container">
    <h2 class="my-5 text-center">Account Details</h2>
    <div class="text-center">
        <div class="btn-group" role="group" id="button-toggle" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" onchange="show()" autocomplete="off" checked>
            <label class="btn fw-light btn-outline-dark" for="btnradio1">Transaction Details</label>
          
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" onchange="show2()" autocomplete="off">
            <label class="btn fw-light btn-outline-dark" for="btnradio2">Member Details</label>
          </div>
    </div>
    <br>
    <div id="trans">
        <span> <h4>Owner : <%= result.owner.firstname + " " + result.owner.lastname %></h3>
    <% if (result.balance > 0) { %>
        <h5 class="my-3" style="color: green;">Balance : <%= result.balance %></h3>
    <% } else { %>
        <h5 class="my-3" style="color: red;">Balance : <%= result.balance %></h3>
    <% } %>
</span>
<table class="table table-striped table-border">
    <thead class="bg-dark text-white fw-bolder">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Type</th>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
            <th scope="col">Created By</th>
            <th colspan="2" class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        <% if(result.transactions.length > 0) { result.transactions.forEach(function(data) { %> 
            
        <tr> 
            <td>
                <%= new Date(data.createdAt).toLocaleString() %> 
            </td>
            <td>
                <%= data.type %>
            </td>
            <td>
                <%= data.description %>
            </td>
            <td>
                <%= data.amount %>
            </td>
            <td>
                <% for (let elem of record) { %>
                    <% if (elem.id === data.user) { %>
                        <%= elem.firstname + " " + elem.lastname %> 
                        <% break; %>
                        <% } %>
                <% } %>
            </td>
            <td>
                <a href="/home/transaction/update/<%= data.id %>" class="link-info"><i class="far fa-edit">Edit</i></a>                                 
            </td>
             <td>
                <a href="/home/transaction/delete/<%= data.id %>" class="link-danger"><i class="fas fa-trash ">Delete</i></a>
             </td>  
        </tr>
        
        <% }) %>
        <% } else { %>
            <tr>
                <td class="text-center text-danger py-4" colspan="6">Oops... There isn't any Transactios in this account.
                    <br />Please create a Transaction first by clicking add transaction button.
                </td>
            </tr>
        <% } %> 

</tbody>
</table>
<a href="/home/transaction/create/<%= result.id %>">
<button type="button" class="btn btn-primary mb-3">Create Transaction</button>
</a>
</div>
<div id="member" style="display: none;">
    <table class="table">
        <thead class="thred-dark">
            <tr>
                <th colspan="2">Member-Name</th>
                <th scope="col">Role</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <% if (result.members.length > 0) { result.members.forEach(function(data) { %>
            <tr> 
                <td colspan="2">
                     <%= data.firstname + " " + data.lastname %> 
                </td>
                <% if (data.id === req.userData.userId && data.id === result.owner.id) { %>
                    <td>You (Owner)</td>
                <% } else if (data.id === req.userData.userId) { %>
                    <td>You</td>
                <% } else if (data.id === result.owner.id) { %>
                    <td>Owner</td>
                <% } else { %>
                    <td>Member</td>
                <% } %>
                <% if (data.id === result.owner.id || data.id === req.userData.userId) { %>
                    <td>

                    </td>
                <% } else { %>
                 <td>
                    <a href="/home/deletemember/<%= result.id %>/<%= data.id %>" class="link-danger"><i class="fas fa-trash ps-4">Delete</i></a>
                 </td>
                <% } %>    
            </tr>
            <% }) %>
            <% } else { %>
                <tr>
                    <td class="text-center text-danger" colspan="2">Oops... There isn't any member for this account.
                    </td>
                </tr>
            <% } %>
    
    </tbody>
    </table>
    <a href="/home/addmember/<%= result.id %>">
        <button type="button" class="btn btn-primary mb-3">Add Member</button>
    </a>
</div> 
</div>