
<%- partial('../../partials/adminsidenav.ejs') %>
<div id="content-wrapper">
<div class="container-fluid">
    <%- partial('../../partials/flash.ejs') %>
    <h1 class="h2">Dashboard</h1>
    <!-- </div> -->
    <br><br>
    <div class="row">
      <style>
        .card {
          border-radius: 15px;
        }
        .card-body-icon {
          position: absolute;
          z-index: 0;
          top: -0.25rem;
          right: 0rem;
          opacity: 0.4;
          font-size: 4rem;
          -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
        }
      </style>


      <div class="col-xl-4 col-sm-4 my-3 d-flex justify-content-center">
        <div class="card text-white o-hidden h-100 w-75" style="background-color: #042b90;">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-users box-icon"></i>
                </div>
                <div class="mr-5">Total Users</div>
            </div>
            <div class="text-white text-center card-footer clearfix small z-1">
                <span class="float-left"><%= users %></span>
                <span class="float-right">
                    <i class="fas fa-users box-icon"></i>
                </span>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-sm-4 my-3 d-flex justify-content-center">
      <div class="card text-white o-hidden h-100 w-75" style="background-color: #10cc20d5;">
          <div class="card-body">
              <div class="card-body-icon">
                  <i class="fas fa-file-invoice box-icon"></i>
              </div>
              <div class="mr-5">Total Accounts</div>
          </div>
          <div class="text-white text-center card-footer clearfix small z-1">
              <span class="float-left"><%= accounts %></span>
              <span class="float-right">
                  <i class="fas fa-file-invoice box-icon"></i>
              </span>
          </div>
      </div>
  </div>

  <div class="ccol-xl-4 col-sm-4 my-3 d-flex justify-content-center">
    <div class="card text-white o-hidden h-100 w-75" style="background-color: orange;">
        <div class="card-body">
            <div class="card-body-icon">
                <i class="fas fa-coins box-icon"></i>
            </div>
            <div class="mr-5">Total Transactions</div>
        </div>
        <div class="text-white text-center card-footer clearfix small z-1">
            <span class="float-left"><%= transactions %></span>
            <span class="float-right">
                <i class="fas fa-coins box-icon"></i>
            </span>
        </div>
    </div>
</div>
  </div>
</div>
</div>
